body{background-color: brown;}
.textcenter{text-align: center;}
#theorem{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid gold;
    margin: 10px 780px 10px 10px;
    border-radius: 5px 5px 5px 5px;


}
